body{
/* background-image is inputed and here*/
background-image: url("https://res.cloudinary.com/mide358/image/upload/v1568667115/image3_hxlree.png");
background-repeat: no-repeat;
background-position: top right;
height: auto;


}

form {
    text-align: center;
    margin-top: 20%;
       
}

input {
    border: 2px solid #A625D3;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    width: 370px;
    height: 23px;
    background-color: white;


}

.button{
    background-color: #A625D3;
    color: black;
    border-radius: 20px;
    border-color:#A625D3;
    width: 400px;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

a {
    display: inline-block;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 20px;
    color: #A625D3;
}

::placeholder{
    color:black;
    font-size: 20px;

}

img {
    display:block;
    width: 100px;
    height:100px;
    margin: 0 auto;
    max-width: 100%;
    margin-top:15%;
    padding-bottom: 25px;
    
}

.other-details {
    text-align: center;
}